<%= render 'shared/errors', obj: @bulletin %>
<div class="panel panel-default">
<div class="panel-body">
<div class="card-body">
<%= form_for(@bulletin, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.label :subject %>
    </div>
    <div class="col-sm-8">
      <%= f.text_area :subject, rows: 2,class: "form-control", placeholder: "Enter subject", autofocus: true %>
    </div>
  </div>


 <div class="form-group">
   <div class="control-label col-sm-2">
      <%= f.label :body %>
    </div>
    <div class="col-sm-8">
      <%= f.text_area :body,rows: 14, class: "form-control", placeholder: "Body", autofocus: true %>
    </div>
  </div>

   <div class="form-group">
    <div class="control-label col-sm-2">
           <%= f.label :subscriber, class: "col-2 col-form-label text-light" %><b>lists</b>
        </div>
        <div class="col-sm-8">
           <%= f.collection_select(:subscriber_list_ids, @user_lists, :id, :list_name,
            { prompt: "Select subscriber lists "}, { multiple: true, size: 7, class: "form-control" }) %>
        </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-2">
           <%= f.label :Criteria, class: "col-2 col-form-label text-light" %>
        </div>
     
 <div class="col-sm-8">
           <%= f.collection_select(:crituser_ids, Crituser.all, :id, :user_criteria,
            { prompt: "Select user criteria "}, { multiple: true, size: 7, class: "form-control" }) %>
        </div> 

  </div>
  

  <div class="form-group">
<button class="button-78" role="button">Send Bulletin
       <% f.submit %>
      </button>
  </div>

 
     
    

<% end %>
</div>
 </div>
 </div>
<div class="button-55"><b>
      [ <%= link_to "Cancel and Return to Subscriber lists", subscriber_lists_path %> ]    </b>  
    </div>

 



