
<p class="bg-primary text-center">Bulletins sent by <mark><%= current_user.username %></mark></p>
<div align="center">
  <%= will_paginate @bulletins%>
</div>
  <% @bulletins.each do |bulletin| %>
  <div class="card-body">
      <div class="well well-lg">
        <div class="article-title">Subject:
          <%= bulletin.subject %>
           </div>
        
  <div class="article-meta-details">
<h3> <%= link_to "Go to bulletin", bulletin_path(bulletin), class: "btn btn-outline-info" %> </h3>
          
 
  </div>
   <div class="article-meta-details"> 
  </div>
      

<div class="card-footer text-muted">
            <small>Sent by <%= bulletin.user.username %> ,
            <%= time_ago_in_words(bulletin.created_at) %> ago, 
            edited <%= time_ago_in_words(bulletin.updated_at) %> ago</small>
          </div>
      </div>

      </div>

      <% end %>
      <div align="center">
  <%= will_paginate @bulletins%>
</div>

<div class="card-footer text-muted">
<div class="button-55"><b>
<% if @bulletins.empty? %> 

  <%= link_to "No Bulletins sent, start by sending one!", new_bulletin_path %> </b>
<% else %>
 [ <%= link_to "Send another Bulletin!", new_bulletin_path %> ]</b>
<% end %>
</div>
</div>












