<%= render 'shared/errors', obj: @subscriberList %>




<div class="panel panel-default">
<div class="panel-body">
<div class="row">
  <div class="col-xs-12">
    <%= form_for(@subscriberList, :html => { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :list_name %>  
        </div>
        <div class="col-sm-8">
          <%= f.text_area :list_name, rows: 4, class: "form-control", placeholder: "Name of Subscriber list", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :list_type %>
        </div>
        <div class="col-sm-8">
          <%= f.text_area :list_type, rows: 4, class: "form-control", placeholder: "Type of Subscriber list" %>
        </div>
      </div>
       <div class="form-group">
        <div class="control-label col-sm-2">
           <%= f.label :subscriber %>
        </div>
        
        <div class="col-sm-8">
           <%= f.collection_select(:subscriber_ids, current_user.subscribers, :id, :name,
            { prompt: "Make your selection from the list below "}, { multiple: true, size: 7, class: "form-control" }) %>
        </div>
        
      </div>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
         <button class="button-78" role="button"> Create List
          <% f.submit %>
      </button>
        </div>
       
     
      </div>
    <% end %>
    
  </div>
</div>
</div>
</div>

