<h1 align="center" style="color:Black">Subscriber List Details</h1>


<div class = "container">

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
         <div class="article-title">
          <%= simple_format(@subscriberList.list_name) %>
        </div>
        <div class="article-body">
          <%= simple_format(@subscriberList.list_type)%>
        </div>
      
  <%
=begin%>
 <% if @article.categories.any? %>
          <p>Categories: <%= render @article.categories %></p>
        <% end %>  
<%
=end%>

        
 <%
=begin%>
 <% if logged_in? && (current_user == @article.user || current_user.admin?) %>  
<%
=end%>

          <div class="article-actions">
            <%= link_to "Edit", edit_subscriber_list_path(@subscriberList), class: "btn btn-outline-info" %> |
            <%= link_to "Delete", subscriber_list_path(@subscriberList), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %> |
            <%= link_to "Return to Subscriber lists", subscriber_lists_path, class: "btn btn-outline-info" %>
         
          </div>
<%
=begin%>
        
 <% end %>  
<%
=end%>



<div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(@subscriberList.created_at) %> ago, 
            edited <%= time_ago_in_words(@subscriberList.updated_at) %> ago</small>
          </div>
      </div>
    </div>
  </div>  



<div class="row">
 <div class="col-xs-8 col-xs-offset-2">
 <div class="well well-lg">
<div class="card">
</div>

  <div class="card-body">
    <a href="#" class="card-link">Go to Manage Subscribers</a>
  </div>
  <div class="card-body">
  
    <h5 class="card-title">View | Add | Update | Delete subscribers for this list</h5>
   
  </div>


</div>
</div>
</div>
</div>