<p class="bg-primary text-center">Subscriber List Details</p>

<div class = "container">

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
         <div class="article-title">
          <%= simple_format(@subscriberList.list_name) %>
        </div>
        <div class="article-body">
          <%= simple_format(@subscriberList.list_type)%>
        </div>
      


        
 

 <% if logged_in? && (current_user == @subscriberList.user || current_user.admin?) %>   



          <div class="article-actions">
            <%= link_to "Edit", edit_subscriber_list_path(@subscriberList), class: "btn btn-outline-info" %> |
            <%= link_to "Delete", subscriber_list_path(@subscriberList), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %> 
           
         
          </div>

        
 <% end %>  
<%
=begin%>
 <div class="article-actions">
 <%= link_to "Return to Subscriber lists", subscriber_lists_path, class: "btn btn-outline-info" %>
</div> 
<%
=end%>

<div class="card-footer text-muted">
<div class="button-55"><b>
  [ <%= link_to "Return to Subscriber lists", subscriber_lists_path %> ]</b>
</div>
</div> 

<div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(@subscriberList.created_at) %> ago, 
            edited <%= time_ago_in_words(@subscriberList.updated_at) %> ago</small>
          </div>
      </div>
    </div>
  </div>  



<div class="row">
 <div class="col-xs-8 col-xs-offset-2">
 <div class="well well-lg">
<div class="card">
</div>

<div class="card-body">
  <h3>Manage Subscribers</h3>
  <div class="button-62">
   <%= link_to "Add a new subscriber", new_subscriber_path(:subl => @subscriberList) %> 
    </div>
  
  </div>

<% if @subscriberList.subscribers.any? %>
  
    <div class="card-body">
  
    <h5 class="card-title">Add | Update | Delete subscribers for this list</h5>
   
  </div>
  </div>
  
    <%= render @subscriberList.subscribers %>
  
  
<% end %>


</div>
</div>
</div>