<p class="bg-primary text-center"><mark><%= current_user.username %></mark>'s Subscribers</p>
<div align="center">



<div align="center">
  <%= will_paginate @subscribers%>
</div>
<%= render 'subscribers', obj: @subscribers %>
<div align="center">
  <%= will_paginate @subscribers%>
</div>

</div>
<div class="card-footer text-muted">
<div class="button-55"><b>
  [ <%= link_to "Return to Subscriber lists", subscriber_lists_path %> ]</b>
</div>
</div> 


